/* * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} */


/* h1 {
    font-size: 50px;
}

h2 {
    font-size: 40px;
} */


/* 
.wrapper {
    width: 100%;
    background: url(../images/)no-repeat;
}

.container {
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
}

.container .nav-link {
    text-align: auto;
} */